@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2023-04-14 16:09:44
 * @version $Id$
 *
 **/
*{
    padding: 0;
}

li {
    list-style: none;
}

.allbox {
    margin: 10px auto;
    width: 1000px;
}

.box{
    position: relative;
    width: 500px;
    height: 100px;
}

.picb {
    position: absolute;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.picb:hover {
    border:2px solid grey;
}

.picb:nth-child(2) {
   left: 110px;
}

.picb:nth-child(3) {
   left: 220px;
}

.picb:nth-child(4) {
   left: 330px;
}





.btnline {
    display: flex;
    margin-top: 20px;
    width: 500px;
}

.btn {
    width: 100px;
    height: 50px;
    border: 1px solid grey;
    text-align: center;
    line-height: 50px;
    transition: background-color 1s;
}



.btn:hover {
    background-color: grey;
}



.picbox {
    width: 500px;
    height: 400px;
    text-align: center;
    line-height: 400px;
    font-size: 36px;
    border: 1px solid grey;
}

.delbox {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    margin-top: 20px;
    border: 1px solid grey;
}

.item {
    display: flex;
    margin: 5px 0;
    width: 500px;
    height: 30px;
    text-align: center;  
}

.item span:nth-child(1){
    margin-left: 10px;
    flex: 1;
    border: 1px solid grey;
}

.item span:nth-child(2){
    flex: 6;
    border: 1px solid grey;
}

.item button {
    margin-right: 10px;
    flex: 2;
}

.addbtn {
    align-self: flex-end;
    margin-right: 10px;
    width: 80px;
    height: 40px;
}